<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:annotation-driven/>

    <bean id="clientDAO" class="dao.ClientDAO"></bean>
    <bean id="clientService" class="service.ClientService">
        <property name="clientDAO" ref="clientDAO"></property>
    </bean>
    <bean id="optionDAO" class="dao.OptionDAO"></bean>
    <bean id="optionService" class="service.OptionService">
        <property name="optionDAO" ref="optionDAO"></property>
    </bean>
    <bean id="contractDAO" class="dao.ContractDAO"></bean>
    <bean id="tariffDAO" class="dao.TariffDAO"></bean>
    <bean id="tariffService" class="service.TariffService">
        <property name="tariffDAO" ref="tariffDAO"></property>
        <property name="optionService" ref="optionService"></property>
    </bean>
    <bean id="contractService" class="service.ContractService">
        <property name="contractDAO" ref="contractDAO"></property>
        <property name="clientService" ref="clientService"></property>
        <property name="tariffService" ref="tariffService"></property>
        <property name="optionService" ref="optionService"></property>
    </bean>
    <bean id="clientValidator" class="validator.ClientValidator"></bean>
    <bean id="optionValidator" class="validator.OptionValidator"></bean>
    <bean id="tariffValidator" class="validator.TariffValidator"></bean>
    <bean id="securityService" class="service.SecurityServiceImpl">
    </bean>
    <context:component-scan base-package="controllers"/>
</beans>